
/*.body{
  background-color: #F2F2F2;
}*/
.icon{
  position: absolute;
  /*top: 18px;
  left: 21px;
  animation: shine 2s linear infinite alternate,float 6s ease-in-out infinite alternate;
  width:40px;*/
}

.hero-button{
  font-size: 20px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  background-color: transparent;
  border:solid #1C86EE;
  border-width: 1px;
  color: #1C86EE;
  border-radius: 6px;
}

.AppName{
  text-align: center;
  margin-top: 30px;
}

.logo{
  height: 70px;
}

.text-blue{
  font-size: 1.5em;
  color: #1C86EE;
  text-decoration: none;
  
}

.text-blue:hover{
  color: #222;
}

.title{
  margin-top: 0.3em;
  margin-bottom: 1em;
}
.description{
  margin-top: 1em;
  margin-bottom: 1em;
  color: #666666;
  font-size: 2em;
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
}

.text-bug{
  padding: 1em;
  display: block;
}
.text-muted{
  margin:10px;
}
/*.screenshots{
  width: 300px;
  max-width: 100%;
  margin: auto;
  

}*/

.screenshot img {
    width: 300px;
}


.qr-wrapper {
    display: inline-block;
    position: relative;
}

.qr-wrapper:hover .qr {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.qr-wrapper .qr-active {
    padding: 0 1em;
}

.qr-wrapper .qr {
    z-index: 10;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    transform-origin: left center;
    -webkit-transform-origin: left center;
    transition: opacity .3s, transform .3s;
    -webkit-transition: opacity .3s, transform .3s;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes shine{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes float{
  from{
    transform: translateY(0);
  }

  to{
    transform: translateY(-20px);
  }
}



